img {
    display: none;
}


.container {
    width: 500px;
    align-content: center;
}

.grid {
    height: 410px;
    width: 405px;
    display: flex;
    flex-wrap: wrap;
    background-color: #d7ceb6;
    margin-left: 50px;
    margin-top: 20px;
    border: 10px solid #dcd6bc;
    margin-bottom: 10px;
}


.standard_block {

    height: 45px;
    width: 45px;
    background-image: url("media/images/standard_block.png");
    box-sizing: border-box;

}

